@charset "UTF-8";

/*font-family: 'Raleway', sans-serif; */

body, html {
    padding: 0;
    margin: 0;
}

body, footer {
    font-family: 'Raleway', sans-serif;
    background-color: #3498DB;
}

a, a:hover{
    text-decoration: none;
}

.container-fluid {
    padding: 0;
}

.separator {
    height: 3px;
    width: 5%;
    border: none;
    box-shadow: none;
    background-color: #3498DB;
}


/* header */
.header{
    background-color: #3498DB;
    height: 70px;
    line-height: 70px;
}

.logo {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    float: left;
}

.menu {
    float: right;
    margin-right: 0px;
}

.menu a {
    color:#ffffff;
    margin-right: 10px;
}

.menu a:hover {
    color: #2C3E50;
}
/* banner */
.banner{
    width: 100%;
    max-width: 100%;
}

.ban {
    position: relative;
}

.ban img {
    width: 100%;
    max-width: 100%;
}

.inner-banner {
    position: relative;
    top: 70%;
    width: 100%;
    text-align: center;
}

.inner-banner h1 {
    color: #ffffff;
    text-shadow: 1px 1px 20px #000000;
}

/* about */


.about article {
    margin-top: 10%;
    margin-bottom: none;
}
.about article h2 {
    text-align: center;
    
}

.output {
    position: absolute;
    align-content: center;
    text-align: center;
}

 /* footer */
.footer {
    background-color: #2C3E50;
    color:#ffffff;
    text-align: center;
}